body{
    background-color:#d3f2f5;
}
hr{
    height : 0px;
    border-style:none;
    border-top-style: dotted;
    border-color: blue;
    width: 3%;
    border-width: 5px
}
h1{
    color:   #574dd5;
}
h2{
    color:   #574dd5;
}
h3{
    color:   #574dd5;
}